body {
  font-family: Arial, sans-serif;
  background: #eef1f7;
  margin: 0;
  color: #333;
}

.header {
  background: #004b8d;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

button {
  background: #006fcf;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

main {
  padding: 2rem;
}

#student-info {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

#credit-breakdown {
  background: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-bottom: 2rem;
}

#summary-header {
  font-size: 24px;
}

#summary {
  font-size: 20px;
}

.progress {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.progtress span:first-child {
  width: 90px;
}

.bar {
  background: #ddd;
  flex-grow: 1;
  height: 10px;
  margin: 0 10px;
  border-radius: 5px;
  overflow: hidden;
}

#bar-complete {
  background: #28a745;
  height: 100%;
  width: 0%;
}

#bar-progress {
  background: #f0c000;
  height: 100%;
  width: 0%;
}

#bar-remaining {
  background: #d9534f;
  height: 100%;
  width: 0%;
}

.year-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.year-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  width: 22%;
  padding: 0.5rem;
}

.year-card h3 {
  background: #004b8d;
  color: white;
  padding: 0.5rem;
  border-radius: 6px;
  margin-top: 0;
}

table {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  align-self: center;
  margin-bottom: 2rem;
  border-collapse: collapse;
  margin-right: auto;
}

th {
  background: #96BEE6;
  padding: 0.5rem;
  font-weight: bold;
  align-content: center;
  margin-bottom: 2rem;
  border: 1px solid;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #84a5c7;
}

td {
  background: rgb(255, 255, 255);
  padding: 0.5rem;
  align-content: center;
  margin-bottom: 2rem;
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #e7e7e7;
}

.course-list {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
}

.course-list li {
  padding: 0.3rem 0;
  font-size: 0.95rem;
}

li.course-item {
  padding: 6px 10px;
  border-radius: 6px;
  margin-bottom: 5px;
  display: block;
  background-color: #f5f5f5;
  list-style-type: none;
}

.course-item.taken, .course-item.completed {
  background-color: #c8e6c9;
}

.course-item.in-progress {
  background-color: #faf5cd;
}

.course-item.not-used {
  background-color: #c0c0c0;
}

.course-item.remaining, .course-item.planned {
  background-color: #fa7474;
}

.status-text {
  font-size: 0.7em;
  color: #555;
  display: block;
  margin-left: auto;
}
